body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  background-color: #ffffff; /* White background for the form container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 300px; /* Fixed width for the container */
}

h1 {
  color: #333; /* Dark gray color for the header */
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: greenyellow; /* Blue color for the section headers */
  margin-bottom: 15px;
}

form {
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  display: block;
  width: calc(100% - 22px); /* Full width with padding adjustment */
  padding: 10px;
  border: 1px solid #ddd; /* Light border */
  border-radius: 4px; /* Rounded corners */
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: peru; /* Blue button background */
  color: #fff; /* White text color */
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd; /* Light border */
  border-radius: 4px; /* Rounded corners */
  background-color: #ffffff; /* White background for result */
  color: #333; /* Dark text color for result */
}

.back-button {
  display: inline-block;
  margin-bottom: -10px;
  margin-left: 85px;
  padding: 5px 15px;
  background-color: palevioletred; /* Blue background */
  color: #fff; /* White text */
  text-decoration: none; /* Remove underline */
  border-radius: 4px;
  text-align: center;
}

.back-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

