/* Miscellaneous Styles -------------------------------------------------------------------------- */
/* Section specific styles */
#news-development {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../Images/News.png');
  height: 50vh;
}

.news-development img {
  width: 0;
  height: auto;
}

#sea-readiness, #news-development {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sea-readiness {
  background-image: url('../Images/Slider.png');
  height: 70vh;
}

#news-development {
  background-image: url('../Images/News.png');
  height: 50vh;
}

.sea-readiness img, .news-development img {
  width: 0;
  height: auto;
}

#technology img, #health-wellness img, #business-finance img, #entertainment img, #sports img, #environment img {
  width: 300px;
}

#technology img, #health-wellness img, #business-finance img {
  margin-left: 200px;
}

#entertainment img, #sports img, #environment img {
  margin-left: 930px;
}

#technology p, #health-wellness p, #business-finance p {
  margin-left: 190px;
}

#entertainment p, #sports p, #environment p {
  margin-left: 930px;
}

#technology p, #health-wellness p, #business-finance p {
  margin-bottom: -100px;
}

#health-wellness img {
  height: 280px;
}

#business-finance img, #environment img {
  height: 200px;
}

