/* Index Page Styles ----------------------------------------------------------------------------- */
/* Container for the page content */
.container {
  padding: 2rem;
}

/* Slide banner */
.slide-banner {
  background-color: #ddd;
  height: 200px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
}

/* Content section */
.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: flex-start;
}

/* Adjustments for countries section */
.countries {
  display: flex;
  flex-direction: column;
  width: 40%; 
  margin-right: 2rem; 
}

.countries h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ffffff; 
}

.country-flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.country {
  width: calc(33.33% - 1rem); 
  margin-bottom: 1rem; 
}

.country img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

/* Now Showing section */
.now-showing {
  display: flex;
  flex-direction: column;
  width: 55%; 
}

/* Now Showing label */
.now-showing-label {
  text-align: center;
  margin-top: 0; 
  margin-bottom: 1rem; 
  font-size: 2rem;
  color: #ffffff;
}

/* Movies container */
.now-showing .movies {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Individual movie */
.now-showing .movie {
  flex-basis: calc(33.33% - 1rem); 
  margin-bottom: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.now-showing .movie img {
  max-width: 100%; 
  height: auto; 
}

/* Movie names */
.now-showing .movie-name {
  margin-top: 0.5rem; 
  color: #ffffff;
}

/* Latest News section */
.latest-news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.latest-news div {
  background-color: #aaa;
  width: 18%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
